.main-content {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100vh;
}

.chart-section {
  width: 70%;
  background-color: #577;
}

.todo-section {
  width: 30%;
  background-color: #aaa;
}
