.add-product-container {
  display: flex;
  flex-direction: column;
}

.add-product-container div {
  margin-bottom: 1rem;
}

.button-panel {
  display: flex;
  justify-content: space-between;
}

.button-panel button svg {
  margin-right: 0.5rem;
}
